<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
        <nav class="navbar navbar-expand-sm bg-black navbar-dark">
            <span class="navbar-nav">
                <span>
                    <span class="navbar-brand font-weight-bolder text-uppercase py-0">@Html.ActionLink("Home", "Index", "Home")</span>
                    <span class="navbar-brand font-weight-bolder text-uppercase py-0">@Html.ActionLink("About", "About", "Home")</span>
                    <span class="navbar-brand font-weight-bolder text-uppercase py-0">@Html.ActionLink("Contact", "Contact", "Home")</span>
                    <span class="navbar-brand font-weight-bolder text-uppercase py-0">@Html.ActionLink("Super Heroes", "Index", "Superheroes")</span>
                    <span class="navbar-brand font-weight-bolder text-uppercase py-0">@Html.Partial("_LoginPartial")</span>
                </span>   
            </span>            
        </nav>
        
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
