@model SuperHeros.Models.SuperHero

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuperHero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alterEgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alterEgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primarySuperheroAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primarySuperheroAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondarySuperheroAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondarySuperheroAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catchpharse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catchpharse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
