@model IEnumerable<SuperHeros.Models.SuperHero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alterEgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primarySuperheroAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.secondarySuperheroAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catchpharse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alterEgo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primarySuperheroAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secondarySuperheroAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.catchpharse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
